*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  --recipe--green: #28947F;

}
body{
  background-color: #e5ecc5;
  color: #534c19;
  font-family: Arial, Helvetica, sans-serif;
}

h2{

  padding: 5rem;
}

a{
  text-decoration: none;
  padding:1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:  #534c19;

  &.active{

    text-decoration: underline;
    font-size: 18px;
  }
}

.container{
  
  align-items: center;
  width: 80%;
  padding-left: 10%;
}
.mb-3{

  padding-top: 1.5rem;
}

.row{

  flex-direction: column;
}
.form-control{

  padding: 0.5rem;
  border-radius: 10px;
}
.btn-outline-secondary{
  margin-left: 0.3rem;
  width: 50px;
  padding: 0.2rem;
  background-color:#82864f;
  color: white;
  border-radius: 10px;
}

.list-group-item{
  width: 60%;
  margin-top: 1.5rem;

  padding:1rem;
  border: 1px solid rgb(112, 110, 110);
  border-radius: 10px;
  list-style: none;
  background-color: #84BA63;
  box-shadow: 3px 3px 5px #807f7f;
}
.list-titles{

  padding-top: 1.5rem;
}

.bi-trash3-fill{
  width: 50%;
  padding: 0.5rem;
  
}

h1{ 
  margin-bottom:1.5rem;
  text-align: center;
}

p {
  text-align: justify;
  line-height: 1.6; 
  margin: 0 1rem; 
  color: #55502e;
}

